$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$gradient-color: linear-gradient( 60deg, $color-secondary, $color-primary);
$gradient-glass: linear-gradient(80deg, white, rgb(240, 227, 227));
$shadow-color: #a5a5a5;
$backgroundformular-color: #eaeaea;
$background-color: #f6f6f6;
$icon-color: #7e7e7e;
$hover-color: #f5edff;
$background-new: #99e2d0;
$new-headband-text-color: #269d80;